:root {
    --primary-color: #741d51;
    --secondary-color: #e44e52;
    --third-color: #942b51;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #f5f3f3;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 1rem;
    background: var(--primary-color);
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

header .container {
    display: flex;
    align-items: center;
}

header .container-logo {
    display: flex;
    align-items: center;
}

header .container-logo img {
    width: 38px;
    margin-right: 1rem;
}

header .container-logo h2 {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

header .container-menu {
    margin-left: auto;
}

header .container-menu img {
    width: 30px;
}

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

ul {
    list-style: none;
    margin-bottom: 0;
}

ul li {
    margin-bottom: 0;
}

#hero {
    background-image:url(https://i.ibb.co/Q9kqxRn/hero.jpg);
    height: 350px;
    background-size: cover;
}

#txt-principal {
    margin: 30px 0;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.container-cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.container-cards .card {
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    max-width: 250px;
    margin: 0 auto;
}

.container-cards .card .info-card h4 {
    font-weight: 500;
}

.container-cards .card .info-card p:nth-child(2) {
    font-size: 1.2rem;
}

.submenu {
    position: relative;
}

.submenu img {
    cursor: pointer;
    border-radius: 5px;
}

.submenu #div-cart {
    display: none;
    position: absolute;
    right: -10px;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 1rem;
    height: auto;
    width: auto;
    
    min-width: 320px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.submenu:hover #div-cart {
    display: block;
}

.submenu #div-cart table {
    display: none;
    height: auto;
    max-height: 260px;
    overflow-y: scroll;
}

.submenu #div-cart table.active {
    display: block;
}

.submenu #div-cart table::-webkit-scrollbar {
    width: 4px;
}

.submenu #div-cart table::-webkit-scrollbar-thumb {
    background: #cacaca;
    border-radius: 5px;
}

.submenu #div-cart .txt-empty {
    font-style: italic;
    color: #c1c1c1;
    display: none;
}

.submenu #div-cart .txt-empty.active {
    display: block;
}

.submenu #div-cart table {
    margin-bottom: 2rem;
}

.submenu table thead {
    position: sticky;
    top: 0;
    left: 0;
    background: white;
}

.submenu table thead th {
    font-size: 1.1rem;
    padding: .4rem;
}

.submenu table thead th:nth-child(1),
.submenu table tbody td:nth-child(1) {
    display: none;
}

.submenu table tbody td img {
    width: 80px;
}

.submenu table tbody td {
    font-size: 1rem;
}

.submenu #div-cart .container-total {
    display: none;
    align-items: center;
    border: 1px solid #E1E1E1;
    border-radius: 25px;
    padding-right: 1rem;
    margin: 0 auto;
    width: max-content;
    padding: .3rem 1rem;
}

.submenu #div-cart .container-total.active {
    display: flex;
}

.submenu #div-cart .container-total .span-total {
    margin-left: auto;
    margin-right: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.submenu .remove-item {
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
    line-height: 2.2;
    border-radius: 50%;
    border: none;
    background-color: #e74c3c ;
    text-decoration: none;
    color: white;
    transition: all .5s ease-in-out;
}

.submenu .remove-item:hover {
    background-color: #cb4335;
}

.submenu #div-cart #empty-cart {
    margin-bottom: 0;
    display: none;
    margin: 4rem auto 0 auto;
    width: max-content;
}

.submenu #div-cart #empty-cart.active {
    display: block;
}

.empty {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.content-hero {
    margin-top: 80px;
    color: white;
}

.content-hero h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.content-hero p {
    background-color: var(--secondary-color);
    width: max-content;
    padding: .2rem 1rem;
    border-radius: 25px;
    font-size: 1.8rem;
}

.content-hero form {
    position: relative;
    margin-bottom: 0;
}

.content-hero form #input-search {
    height: 45px;
    margin-bottom: 0;
    color: black;
    border-radius: 25px;
}

.content-hero form .submit-search {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(https://i.ibb.co/MgZCjFr/search.png);
    background-position: right center;
    background-repeat: no-repeat;
    border:none;
}

.div-bar {
    padding: 20px 0;
    background: #741d51; /* Old browsers */
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#741d51', endColorstr='#e44e52',GradientType=1 ); /* IE6-9 */
}

.div-bar p {
    margin:0;
    color: white;
}

.icon {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: left;
    display: flex;
    align-items: center;
}

.icon p {
    margin-right: auto;
}

.icon img {
    width: 30px;
    margin-left: 1rem;
    margin-right: 2rem;
}

.icon3 {
    margin-bottom: 0;
}

@media (min-width: 750px) {
    .icon {
        margin-bottom:0;
    }
}

#course-list .row {
    margin-bottom:20px;
}

.add-item {
    margin:10px 0;
    padding: 0;
    letter-spacing: 0;
}

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}

@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}

.info-card  {
    padding: 10px 20px;
}

.info-card p, 
.card h4 {
    margin-bottom: 5px;
}

.info-card .price {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}

.info-card .price span {
    font-weight: 700;
    font-size: 22px;
}

.button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
    transition: all .5s ease;
    color: white;
}

.button.btn-primary {
    background-color: var(--primary-color);
}

.button.btn-primary:active,
.button.btn-primary:hover,
.button.btn-primary:focus {
    background-color: var(--secondary-color);
    color: white;
}

.button:active {
    transform: scale(0.95);
}

.footer {
    margin-top: 8rem;
    padding-top: 4rem;
    background-color: var(--primary-color);
}

.footer .menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

/* Media Queries */
@media (min-width: 340px) {
    .submenu #div-cart {
        right: 0;
        border-radius: 5px;
    }
}

@media (min-width: 480px) {

    .submenu table thead th {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .submenu table thead th:nth-child(1), 
    .submenu table tbody td:nth-child(1) {
        display: block;
    }

    .submenu #div-cart {
        padding: 1rem 1.5rem 1.5rem 1.5rem;
    }

    .submenu #div-cart .container-total {
        margin-top: 3rem;
    }

    .submenu #div-cart #empty-cart {
        margin-top: 3rem;
        padding: 0 1.5rem;
        height: 35px;
        line-height: 35px;
        font-size: 1rem;
    }

}

@media (min-width: 768px) {

    .submenu #div-cart {
        min-width: 420px;
    }

    .div-bar {
        padding: 4rem 0;
    }

    .div-bar .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .div-bar .row .four.columns {
        width: initial;
    }
    
    .container-cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
    }

    .container-cards .card {
        display: flex;
        flex-direction: column;
    }

    .container-cards .card .info-card {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .container-cards .card .info-card h4 {
        flex: 1;
    }

    .container-cards .card .info-card img {
        width: 90px;
    }

    .container-cards .card .info-card .price {
        margin: 3rem 0;
    }

    .container-cards .card .info-card .add-item {
        margin-top: auto;
        margin-bottom: 0;
    }

}

@media (min-width: 992px) {

    .container-cards {
        gap: 25px;
    }

    .div-bar {
        padding: 5rem 0;
    }
    
}

@media (min-width: 1200px) {

    .container-cards {
        gap: 30px;
    }

    .container-cards .card {
        max-width: 100%;
        width: 100%;
    }

    .div-bar {
        padding: 5rem 0;
    }
    
}